# SPDX-License-Identifier: {{ cookiecutter.code_license }}

## Basic Python things
__pycache__/
*.egg-info
.eggs/
dist/
build/
.venv/
.env/
.nox/

## Test/Coverage files
.coverage
htmlcov/

## Simulation artifacts
*.vcd
*.gtkw

## Intermediate Elaboration artifacts
*.il
