<!-- markdownlint-disable MD041 MD033 -->
```{toctree}
:hidden:


```

```{toctree}
:caption: Development
:hidden:

Source Code <{{ cookiecutter.__forge_url }}>
Contributing <{{ cookiecutter.__forge_url }}/blob/main/CONTRIBUTING.md>
changelog
license
```

# {{ cookiecutter.project_name }}
